.filter-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.filter-label {
    margin-right: 10px;
    font-weight: bold;
}

.date-range {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    min-width: 300px;
    max-width: 600px;
}

.btn-date-range {
    margin: 5px;
}
.btn-date-range:hover {
    background-color: #0096D6;
}

.date-range div:nth-child(2) {
    text-align: center;
    font-weight: bold;
    flex-basis: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#period-button {
    margin-right: 10px;
}

#collapse-button {
    margin-left: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    white-space: nowrap;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content-right {
    right: 0;
    left: auto;
}

.dropdown-content .dropdown-content-menu {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .dropdown-content-menu:hover {
    background-color: #00A6ED;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0096D6;
}

.day-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    border-top: 5px double black;
}

.project-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8em;
    margin-left: 50px;
    margin-top: 5px;
    border-top: 1px dotted black;
    background-color: #f5f5f5;
}
.project-header.hidden {
    display: none;
}
.project-header-customer {
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 50px;
}
.project-header-customer img {
    width: 32px;
    height: 32px;
    margin-left: 5px;
}

.project-header-project {
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: auto;
}

.activity-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8em;
    margin-left: 100px;
}
.activity-header.hidden {
    display: none;
}
.activity-header-activity {
    font-weight: bold;
    font-size: 1.0rem;
    margin-left: auto;
}

.taskSummary-header {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    font-size: 0.8em;
    margin-left: 150px;
    border-spacing: 0px;
}
.taskSummary-header.hidden {
    display: none;
}
.taskSummary-header-description {
    font-size: 1.0rem;
}

.taskSummary-header p {
    margin: 0px;
    white-space: pre-wrap;
}

.time-table {
    margin-left: 150px;
    border-spacing: 0px;
}
.time-entry{
    vertical-align: top;
}
.time-entry-comments p {
    margin: 0px;
    white-space: pre-wrap;
}

.time-entry td .duration {
    font-size: 0.7em;
}

.time-entry-time {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    padding-top: 5px;
    padding-right: 5px;
}

.duration {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-right: 5px;
    align-self: flex-start;
}

.duration-expand {
    background-color: lightgray;
    padding: 5px;
    border-right: 1px solid darkgray;
}

.tree-node {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

.tree-node::before {
    content: "➕";
    color: black;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.node-expanded::before {
    content: "➖";
}

.duration-link {
    background-color: lightgray;
    padding: 5px 10px 5px 5px;
    text-align: center;
}
.duration-link:hover {
    background-color: green;
}

.restart-timer {
    background-color: lightgray;
    padding: 5px 10px 5px 5px;
    text-align: center;
}
.restart-timer::before {
    content: "\25B6"
}
.restart-timer:hover {
    background-color: green;
}

.duration-minutes {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 5px;
}

.duration-decimal {
    background-color: lightgray;
    padding: 5px;
    flex-grow: 1;
}
.duration-decimal::after {
    content: "\00a0h"; /* &nbsp; and an "h" for "hours" */
}



.bi-box-arrow-up-right {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/></svg>');
}



.enddate-now {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    background-color: #FFC107;
    padding-left: 2px;
    padding-right: 2px;
}

.day-header-day {
    font-size: 32px;
    font-weight: bold;
}



