html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

code {
    color: #c02d76;
}

/* Satori undoing things affected by importing MudBlazor */

button {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

input {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: normal;
}

/* Satori */

.hidden {
    display: none;
}

.flex-row {
    display: flex;
}
.flex-row > div {
    margin-right: 10px;
}
.flex-center-whitespace {
    margin-left: auto;
}

.help-section {
    margin-top: 10px;
}

.help-header {
    text-decoration: underline;
    font-weight: 400;
}

.validation-error {
    margin-left: 10px;
    color: red;
}

.cell-link:hover {
    background-color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

.work-item-id {
    font-weight: bold;
    margin-right: 5px;
}
.work-item-id::before {
    content: "D#";
    font-size: 0.75em;
    vertical-align: top;
}

.work-item {
    border-left: solid 5px;
    padding-left: 3px;
    display: flex;
}
.work-item-epic {
    border-left-color: #E06C00;
}

.work-item-feature {
    border-left-color: #773B93;
}

.work-item-pbi {
    border-left-color: #009CCC;
}

.work-item-bug {
    border-left-color: #CC293D;
}

.work-item-impediment {
    border-left-color: #B4009E;
}

.work-item-task {
    border-left-color: #F2CB1D;
}

.work-item-unknown {
    border-left-color: gray;
}

.avatar-row {
    display: flex;
    justify-content: flex-start;
}

.avatar-cell {
    position: relative;
    text-align: left;
    margin-right: 8px;
}
.avatar-cell img {
    width: 24px;
    height: 24px;
}

.review-optional img {
    border: 2px dotted gray;
}

.vote {
    position: absolute;
    right: -2px;
    top: 10px;
    width: 1.0rem;
    height: 1.0rem;
}

.vote-approved {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-check-circle-fill"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>');
    background-color: #55A362;
}

.vote-wait {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-clock-fill"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/></svg>');
    background-color: #D67F3C;
}

.vote-rejected {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-x-circle-fill"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/></svg>');
    background-color: #CD4A45;
}


.btn-header {
    background-color: #00A6ED;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.0em;
    height: 1.0em;
    background-size: cover;
}

.bi-refresh {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-clockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/></svg>');
}

.btn-refresh {
    margin: 5px;
    padding-top: 5px;
    position: relative;
}

.btn-refresh:hover {
    background-color: #0096D6;
}

.btn-refresh.in-loading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: white;
    transform-origin: 0% 50%;
    animation: rotate-clock-hand 1s linear infinite;
}

@keyframes rotate-clock-hand {
    from {
        transform: rotate(0deg) translate(-50%, -50%);
    }

    to {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}
