h4 {
    margin-top: 30px;
}

.integration-help {
    margin-top: 10px;
}

.integration-header {
    text-decoration: underline;
    font-weight: 400;
}

.validation-error {
    margin-left: 10px;
    color: red;
}

