.banner {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    font-size: 1.1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.dialog-close {
    float: right;
    font-size: 18px;
    font-weight: bold;
}
.dialog-close:hover,
.dialog-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
