@using Satori.AppServices.Services
@inject AlertService AlertService

@if (!ViewModel.Visible)
{
    return;
}

<div class="col-md-12 banner @ViewModel.AlertLevel">
    <span @onclick="@ViewModel.ClearAlert" class="dialog-close">&times;</span>
    @ViewModel.Message
</div>
