@page "/"
@using Satori.AppServices.Models
@using Satori.AppServices.Services
@using Flurl
@inject ConnectionSettings ConnectionSettings
@inject UserService UserService

<PageTitle>Satori</PageTitle>

<h1>Welcome to Satori</h1>
<div style="display: flex;">
    
    <div>
        <p style="text-align: center;">
            <img src="images/Satori.png" alt="Satori" class="img-fluid" style="width: 100px; height: 214px;"/>
        </p>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; width: 600px; margin-left: 50px;">
        <p>
            Satori is web application that provides comprehension and understanding to the existing systems you already are using. 
            These include issue tracking, project management, time tracking, and other systems. 
            Unified dashboards pull information from multiple systems and merging them into a consistent view.
        </p>

    </div>
</div>

<h3>Integrations</h3>

<div class="card-stack">
    <a href="@_azureDevOpsUrl" target="_blank">
        <div class="card">
            <img src="images/AzureDevOps-Logo.png" alt="Azure DevOps Logo"/>
            <div class="card-body">
                <p class="card-text">Azure DevOps</p>
            </div>
        </div>
    </a>
    <a href="@_kimaiUrl" target="_blank">
        <div class="card">
            <img src="images/kimai_Logo.png" alt="Kimai Logo"/>
            <div class="card-body">
                <p class="card-text">Kimai</p>
            </div>
        </div>
    </a>
    <a href="@_rabbitMqUrl" target="_blank">
        <div class="card">
            <img style="padding: 15px;" src="images/rabbitmq.svg" alt="RabbitMQ Logo" />
            <div class="card-body">
                <p class="card-text">RabbitMQ</p>
            </div>
        </div>
    </a>
</div>

<h4>Privacy Policy</h4>
<p>
    This web application does not store any data whatsoever on any server.  
</p>
<p style="max-width: 800px;">
    The access keys to gain access to Azure DevOps, Kimai, or any other integrated service are stored locally in your web browser as encrypted data.  
    Those keys are never captured to any other server.  
    No data pulled from Azure Devops (work items & pull requests), Kimai (timesheets), or any other integrated service are shared or stored on any external service.
    This data is merely displayed in your web browser.
</p>

<h4>Contributions</h4>
<ul>
    <li><a target="_blank" href="https://github.com/TimothyK/Satori">Source Code</a></li>
    <li>by <a target="_blank" href="http://codemonkeyprojectiles.com">Timothy Klenke</a></li>
</ul>

@code
{
    private Uri? _azureDevOpsUrl;
    private Uri? _kimaiUrl;
    private Uri? _rabbitMqUrl;

    protected override async Task OnInitializedAsync()
    {
        _azureDevOpsUrl = ConnectionSettings.AzureDevOps.Url;
        var person = await UserService.GetCurrentUserAsync();
        _kimaiUrl = ConnectionSettings.Kimai.Url
            .AppendPathSegment(person.Language.Replace("-", "_"))
            .AppendPathSegment("timesheet")
            .ToUri();

        _rabbitMqUrl = new Uri($"http://{ConnectionSettings.MessageQueue.HostName}:15672");
    }

}
