.avatar-row {
    display: flex;
    justify-content: flex-start;
}

.avatar-cell {
    position: relative;
    text-align: left;
    margin-right: 8px;
}
.avatar-cell img {
    width: 24px;
    height: 24px;
}

.team-selector .avatar-cell {
    border: 5px solid white;
}
.team-selector .avatar-cell.selected {
    border: 5px outset green;
}
.team-selector .avatar-cell:hover {
    transform: scale(1.1);
}

.work-item-row {
    border-left: solid 5px;
    padding-left: 3px;
    font-size: 0.8em;
}

.work-item-row.work-item-pbi {
    border-left-color: #009CCC;
}

.work-item-row.work-item-bug {
    border-left-color: #CC293D;
}

.work-item-row.work-item-impediment {
    border-left-color: #B4009E;
}

.work-item-status {
    text-align: center;
    font-size: 0.7em;
}

.priority-block {
    display: flex;
    border: 1px solid black;
}

.priority-number {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    align-self: center;
    text-align: left;
    padding-left: 0px;
    padding-right: 2px;
    min-width: 27px;
}

.task-status {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}

.status-to-do {
    color: #B2B2B2;
    font-size: 0.9em;
}

.status-in-progress {
    font-size: 1.1em;
    background: rgb(229,245,255);
    background: linear-gradient(90deg, rgba(229,245,255,1) 20%, rgba(255,255,255,1) 100%);
}

.task-status.status-done {
    color: #339933;
    font-size: 0.7em;
}

td.status-done {
    font-size: 0.7em;
}

.work-item-row.status-done {
    background-color: #ECF9EC;
    opacity: 0.5;
}
.work-item-row.status-done:hover {
    opacity: 1.0;
}

.blocked {
    color: red;
}