@page "/SprintBoards"
@using Satori.AppServices.Services
@using Satori.AppServices.ViewModels.Sprints
@attribute [StreamRendering]


<PageTitle>Sprint Boards</PageTitle>

<h3>Sprint Boards</h3>

@if (_sprints == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var sprint in _sprints)
        {
            <li><a href="@sprint.SprintBoardUrl">@sprint.TeamName</a> @sprint.Name ending @sprint.FinishTime.ToString("yyyy-MM-dd")</li>
        }
    </ul>
}


@code {
    private Sprint[]? _sprints;

    protected override async Task OnInitializedAsync()
    {
         var srv = Program.Services.GetRequiredService<SprintBoardService>();
         _sprints = (await srv.GetActiveSprintsAsync()).ToArray();
    }
}
