.avatar-row {
    display: flex;
    justify-content: flex-start;
}

.avatar-cell {
    position: relative;
    text-align: left;
    margin-right: 8px;
}

.work-item-row {
    border-left: solid 5px;
    padding-left: 3px;
    font-size: 0.8em;
}

.work-item-epic {
    border-left-color: #E06C00;
}

.work-item-feature {
    border-left-color: #773B93;
}

.work-item-pbi {
    border-left-color: #009CCC;
}

.work-item-bug {
    border-left-color: #CC293D;
}

.work-item-task {
    border-left-color: #F2CB1D;
}

.work-item-unknown {
    border-left-color: gray;
}

.sprint-priority {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    align-self: center;
    text-align: right;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 27px;
}

.task-status {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}

.task-status-to-do {
    color: #B2B2B2
}

.task-status-in-progress {
    color: #007ACC
}

.task-status-done {
    color: #339933
}