.add-row {
    display: flex;
    align-items: center;
}
.add-row .comment-box::before{
    content: "D#";
    font-size: 0.75em;
    vertical-align: top;
    margin-right: 3px;
    font-weight: bold;
}
.add-row button {
    border-radius: 5px;
    background-color: white;
}
.add-row button::before {
    content: "➕";
}

.avatar-cell {
    position: relative;
    text-align: left;
    margin-right: 8px;
}
.avatar-cell img {
    width: 24px;
    height: 24px;
}
.avatar-cell {
    border: 3px solid red;
}

.cell-link:hover {
    background-color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

.work-item-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.badge {
    margin-left: 5px;
}

.update-task-row {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.update-state .btn-group button {
    font-size: 0.75em;
    padding-top: 2px;
    padding-bottom: 2px;
}
.update-remaining {
    margin-left: 25px;
    margin-top: 5px;
}
.number-box {
    width: 80px;
    font-size: 0.9em;
}

.validation-error {
    font-size: 0.8em;
    margin-left: 0px;
    width: 350px;
}

.flex-center-whitespace {
    margin-left: auto;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.caret.expanded::before {
    transform: rotate(90deg);
}
.add-child.collapsed {
    display: none;
}
.add-child .flex-row {
    align-items: center;
}
.add-child button {
    font-size: 0.8rem;
}

button {
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}
button:hover {
    background-color: darkgrey;
    color: white;
}


.bi {
    display: inline-block;
    position: relative;
    width: 1.0em;
    height: 1.0em;
    background-size: cover;
}

.bi-arrow-90deg-up {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708z"/></svg>');
}