.export {
    display: flex;    
}

.export-done {
    display: none;
}

.btn-common {
    background-color: transparent;
    border-radius: 5px;
    border-width: 1px;
    border-style: outset;
    height: 100%;
}

.btn-export {
    color: green;
    border-color: green;
}
.btn-export:hover {
    background-color: green;
    color: white;
}

.btn-stop {
    color: red;
    border-color: red;
}
.btn-stop:hover {
    background-color: red;
    color: white;
}

.btn-done {
    color: green;
    border-color: green;
}
.btn-done:hover {
    background-color: green;
    color: white;
}

.export-cannot::before {
    content: "Cannot Export";
}

.export-cannot {
    color: white;
    background-color: #DC3545;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    display: block;
}

.duration-running::before {
    content: "Running";
}

.duration-running {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    background-color: #FFC107;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    display: block;
}
