@using Satori.AppServices.Services

@inject StandUpService StandUpService
@inject WorkItemUpdateService WorkItemUpdateService
@inject AlertService AlertService

<div class="export @(Summary.AllExported ? "export-done" : "") @(Summary.CanExport ? "export-enabled" : "")">
    @if (Summary.AllExported)
    {
        <span class="badge bg-secondary">Exported</span>
    }
    else if (Summary.IsRunning)
    {
        <span class="duration-running"></span>
        <button class="btn-common btn-stop" @onclick="async () => await StopAsync(Summary)">■ Stop</button>
        @if (ShowDoneButton)
        {
            <button class="btn-common btn-done" @onclick="async () => await StopAndDoneAsync(Summary)">✔️ Done</button>
        }
    }
    else if (Summary.CanExport)
    {
        <button class="btn-common btn-export" @onclick="async () => await ExportAsync(Summary)">Export</button>
    }
    else
    {
        <span class="export-cannot"></span>
    }
</div>

