.work-item-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.badge {
    margin-left: 5px;
    align-self: center;
}
.work-item-title {
    margin-right: 5px;
}
.blocked::before {
    content: "⛔";
}
.work-item-tag {
    font-size: 0.7em;
    border: solid 1px black;
    border-radius: 5px;
    margin: 3px;
    background-color: gray;
    color: white;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.project-code {
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
    border-left-color: black;
    border-left: solid 5px;
    padding-left: 3px;
    padding-right: 3px;
    align-self: center;
    font-size: 0.75em;
}
.project-code::before {
    content: "P#";
    font-size: 0.75em;
    vertical-align: top;
}
.project-code-invalid {
    border-color: #DC3545;
    background-color: #DC3545;
    color: white;
}

.avatar-cell {
    border: 3px solid red;
}