.work-item-row {
    display: flex;
    flex-wrap: wrap;
}
.cell-link:hover {
    background-color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}
.badge {
    margin-left: 5px;
    align-self: flex-start;
}
