@using Satori.AppServices.ViewModels.DailyStandUps
@using Satori.Utilities
<div class="edit-button @EditButtonVisible">
    <span class="bi bi-pencil-square"></span>
</div>


@code {
    [Parameter] 
    public required TimeEntry[] TimeEntries { get; set; }

    [Parameter]
    public EventCallback OnSaved { get; set; }

    public VisibleCssClass EditButtonVisible { get; set; } = VisibleCssClass.Hidden;

    protected override Task OnInitializedAsync()
    {
        EditButtonVisible = TimeEntries.Any(t => !t.Exported);

        return base.OnInitializedAsync();
    }

}
