.timestamp {
    font-size: 0.6em;
    opacity: 0.5; /* text-muted */
}

.pullrequest-cell {
    display: flex;
    align-items: end;
}
.pullrequest-id {
    margin-right: 5px;
    font-weight: bold;
}
.pullrequest-title {
}

.pullrequest-repositoryname {
    font-size: 0.8em;
    opacity: 0.6; /* text-muted */
}

.work-item {
    font-size: 0.8em;
}

.project-id {
    font-weight: bold;
    margin-right: 5px;
}

.project-id::before {
    content: "P#";
    font-size: 0.75em;
    vertical-align: top;
}


.project-code {
    border-left: solid 5px black;
    padding-left: 3px;
    font-size: 0.8em;
}

