.root {
    margin-left: 10px;
    align-items: stretch;
}

.label {
    margin-right: 0px;
    font-size: 16px;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    background-color: lightgray;
    padding-top: 10px;    
}
.dropdown {
    margin-left: 0px;
}

.avatar-cell {
    border: 5px solid white;
}
.dropbtn {
    margin-left: 0px;
    border: 1px solid black;
    height: 100%;
}

.avatar-cell.filter-selected {
    border: 5px outset green;
}

.dropbtn.avatar-cell:hover {
    background-color: #f5f5f5;
}

button {
    border: 0px;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    white-space: nowrap;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 16px;
    z-index: 1;
}

.dropdown-content .dropdown-content-menu {
    color: black;
    padding: 0px 10px 0px 10px ;
    text-decoration: none;
    display: block;
    border: 2px solid white;
}

.dropdown-content .dropdown-content-menu:hover {
    border: 2px outset green;
}

.dropdown:hover .dropdown-content {
    display: block;
}

