.avatar-row {
    display: flex;
    justify-content: flex-start;
}

.avatar-cell {
    position: relative;
    text-align: left;
    margin-right: 8px;
}
.avatar-cell img {
    width: 24px;
    height: 24px;
}

#filterMe {
    margin-left: 10px;
}
#filterMe .avatar-cell {
    border: 5px solid white;
}
#filterMe .avatar-cell.filter-selected {
    border: 5px outset green;
}
#filterMe .avatar-cell:hover {
    transform: scale(1.1);
}

.team-selector .avatar-cell {
    border: 5px solid white;
}
.team-selector .avatar-cell.filter-selected {
    border: 5px outset green;
}
.team-selector .avatar-cell:hover {
    transform: scale(1.1);
}

.work-item {
    display: table-row;
}

.work-item-status {
    text-align: left;
    font-size: 0.7em;
}

.project-code {
    text-align: left;
    font-size: 0.7em;
 }

.project-code::before {
    content: "P#";
    font-size: 0.75em;
    vertical-align: top;
}

.target-date {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
    
}
.target-date-normal {
    background-color: green;
}
.target-date-soon {
    background-color: orange;
}
.target-date-overdue {
    background-color: red;
}
.target-date::before {
    content: "Due ";
    font-size: 0.75em;
    vertical-align: top;
}

.work-item.filter-hidden {
    display: none;
}

.cell-link:hover {
    background-color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

.workitem-title {
    margin-left: 5px;
}

.dialog {
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 75px;
    background-color: white;
    border: 2px solid black;
    left: 40%;
    width: 50%;
}
.dialog-title {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    border-bottom: 1px solid black;
}
.dialog-close {
    float: right;
    font-size: 18px;
    font-weight: bold;
}
.dialog-close:hover,
.dialog-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.dialog-body {
    padding: 5px;
}
.dialog-buttonbar {
    padding: 5px;
    text-align: right;
    border-top: 1px ridge lightgray;
}

.btn-priority {
    font-size: 0.75em;
}

.priority-block {
    display: flex;
    border: 1px solid black;
}

.priority-number {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    align-self: center;
    text-align: left;
    padding-left: 0;
    padding-right: 2px;
    min-width: 27px;
}

.task-status {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}

.status-to-do {
    color: #B2B2B2;
    font-size: 0.9em;
}

.status-in-progress {
    font-size: 1.1em;
    background: rgb(229,245,255);
    background: linear-gradient(90deg, rgba(229,245,255,1) 20%, rgba(255,255,255,1) 100%);
}
.status-in-progress:hover {
    background: rgb(229,245,255);
}

.task-status.status-done {
    color: #339933;
    font-size: 0.7em;
}

td.status-done {
    font-size: 0.7em;
}

.work-item.status-done {
    background-color: #ECF9EC;
    opacity: 0.5;
}
.work-item.status-done:hover {
    opacity: 1.0;
}

.work-item.selected-for-priority-adjust .priority-block {
    background-color: yellow
}

.blocked {
    color: red;
}
.blocked::before {
    content: "⛔\00a0 Blocked" /* \00a0 is for &nbsp;*/
}

/* Slider - https://www.w3schools.com/howto/howto_css_switch.asp, https://stackoverflow.com/questions/70590125/how-to-change-the-size-of-a-css-toggle-switch */
* {
--switch-height: 20px;
--switch-padding: 8px;
--switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
--slider-height: calc(var(--switch-height) - var(--switch-padding));
--slider-on: calc(var(--switch-height) - var(--switch-padding));
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: var(--slider-height);
    width: var(--slider-height);
    left: calc(var(--switch-padding) / 2);
    bottom: calc(var(--switch-padding) / 2);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(var(--slider-on));
}

.slider.round {
    border-radius: var(--slider-height);
}

.slider.round:before {
    border-radius: 50%;
}

